# 컴파일된 출력물
/dist
/node_modules
/build

# 로그
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 운영체제
.DS_Store

# 테스트
/coverage
/.nyc_output

# IDE 및 편집기
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv 환경 변수 파일
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.development.env
.production.env
.stage.env

# 임시 디렉토리
.temp
.tmp

# 런타임 데이터
pids
*.pid
*.seed
*.pid.lock

# 진단 보고서 (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
